body{
    font-family: 'Roboto', sans-serif;
    background-color: #e4cedd;
}

/* navbar css starts here  */
.bg-light{
    background-color: #8fb8eb!important;
}

.navbar-brand{
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.5rem;
    color: #1f2125!important;
}

.nav-link{
    color: #181b1e!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: #edc0c0;
}
/* navbar css ends here  */

.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: #77b9ff!important;
    color: rgb(21, 19, 19)!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgb(115, 128, 243)!important;
}